

<section class="menu container mx-auto py-8">
    <h1 class="text-xl font-bold mb-8">All Product</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 gap-y-14">
        <% goodis.forEach(function(goodis) { %>

        <div class="max-w-sm rounded overflow-hidden shadow-lg py-2">
            <img class="h-70 mb-4 mx-auto" src="<%= goodis.image %>" alt="" />
            <div class="text-center">
                <h2 class="mb-4 text-lg"><%= goodis.name %> </h2>
                <span class="size py-1 px-4 rounded-full uppercase text-xs"><%= goodis.size %> </span>
                <div class="flex items-center justify-around mt-6">
                    <span class="font-bold text-lg">Rs. <%= goodis.price  %> </span>
                    <button data-goodis="<%= JSON.stringify(goodis) %>" class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold">
                        <span>+</span>
                        <span class="ml-4">Add</span>
                    </button>
                </div>
            </div>
        </div>
            
        <%  }) %> 

    </div>
</section>

